// UI Colors
$charcoal: #2c3e50;
$charcoal-dark: #131a22;


// Spirit Colors
$clear: #fff;
$white-wine: #fffdde;
$pale-straw: #feee98;
$pale-gold: #fcea77;
$corn: #fae165;
$yellow-gold: #f9db54;
$old-gold: #f9d64a;
$amber: #f8ce4b;
$deep-gold: #f4c94d;
$amontillado-gherry: #f8c13c;
$deep-copper: #f5bd33;
$burnished: #eaac08;
$chestnut: #e89e13;
$russet-muscat: #e79404;
$tawny: #dc7217;
$auburn: #e06429;
$mahogany: #cc502f;
$burnt-umber: #b02f28;
$old-oak: #9f241d;
$red-wine: #712b1e;
$chocolate: #431b0a;